<%= simple_form_for(@plant, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  <%= f.input :image, label: "Upload an Image" %>
  <%= f.input :botanical_name, label: "Botanical Name" %>
  <%= f.input :common_name, label: "Common Name" %>
  <%= f.input :cultivar, label: "Cultivar" %>
  <label class="string required control-label" for="plant_type">
  	<abbr title="required">*</abbr>
  	Plant Type
  </label>
  <div class="controls">
	  <%= f.select :plant_type, [
	  	['Perennial','Perennial'],
	  	['Grass','Grass'],
	  	['Woody Ornamental','Woody Ornamental'],
	  	['Fruit','Fruit'],
	  	['Vegetable','Vegetable'],
	  	['Annual','Annual'],
	  	['Pond Plant','Pond Plant'],
	  	['Marginal','Marginal'],
	  	['Vine','Vine'],
	  	['Fern', 'Fern']
	  	] %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
