<%= simple_form_for(@plant, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  <%= f.input :image, label: "Upload an Image" %>
  <%= f.input :botanical_name, label: "Botanical Name" %>
  <%= f.input :common_name, label: "Common Name" %>
  <%= f.input :cultivar, label: "Cultivar" %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
