<%= simple_form_for(@plant, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <h2>Required Fields</h2>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  <%= f.input :image, label: "Upload an Image" %>
  <%= f.input :botanical_name, label: "Botanical Name" %>
  <%= f.input :common_name, label: "Common Name" %>
  <%= f.input :cultivar, label: "Cultivar" %>
  <div class="control-group string required plant_type">
	  <label class="string required control-label" for="plant_type">
	  	<abbr title="required">*</abbr>
	  	Plant Type
	  </label>
	  <div class="controls">
		  <%= f.select :plant_type, [
		  	['Perennial','Perennial'],
		  	['Grass','Grass'],
		  	['Woody Ornamental','Woody Ornamental'],
		  	['Fruit','Fruit'],
		  	['Vegetable','Vegetable'],
		  	['Annual','Annual'],
		  	['Pond Plant','Pond Plant'],
		  	['Marginal','Marginal'],
		  	['Vine','Vine'],
		  	['Fern', 'Fern']
		  	] %>
	  </div>
	</div>
	<div class="control-group string required status">
	  <label class="string required control-label" for="status">
	  	<abbr title="required">*</abbr>
	  	Status
	  </label>
	  <div class="controls">
		  <%= f.select :status, [
		  	['Unknown','Unknown'],
		  	['In Stock','In Stock'],
		  	['Out of Stock','Out of Stock'],
		  	['In Production','In Production']
		  	] %>
	  </div>
	</div>
	<h2>Optional Fields</h2>
	<%= f.input :water_depth, label: "Water Depth" %>
	<%= f.input :height, label: "Height" %>
	<%= f.input :spread, label: "Spread" %>
	<%= f.input :light_requirement, label: "Light Requirement" %>
	<%= f.input :habit, label: "Habit" %>
	<%= f.input :characteristics, as: :text, input_html: { rows: "3" } %>
	<%= f.input :notes, as: :text, input_html: { rows: "3" } %>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
