<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<center>
				<%= image_tag @plant.image(:large) %>
			</center>
			<p id="botanical_name">
			  <strong>Botanical Name:</strong>
			  <%= @plant.botanical_name %>
			</p>
			<p>
			  <strong>Common Name:</strong>
			  <%= @plant.common_name %>
			</p>
			<p>
			  <strong>Cultivar:</strong>
			  <%= @plant.cultivar %>
			</p>
			<p>
			  <strong>Plant Type:</strong>
			  <%= @plant.plant_type %>
			</p>
			<p>
			  <strong>Stock Status:</strong>
			  <% if @plant.status == "Out of Stock" %>
			  	<span style="color: red;"><%= @plant.status %></span>
			  <% elsif @plant.status == "In Stock" %>
			  	<span style="color: green;"><strong><%= @plant.status %></strong></span>
			  <% else %>
			  	<%= @plant.status %>
			  <% end %>
			</p>
			
			<% if @plant.water_depth? %>
				<p>
				  <strong>Water Depth:</strong>
				  <%= @plant.water_depth %>
				</p>
			<% end %>
			<% if @plant.height? %>
				<p>
				  <strong>Height:</strong>
				  <%= @plant.height %>
				</p>
			<% end %>
			<% if @plant.spread? %>
				<p>
				  <strong>Spread:</strong>
				  <%= @plant.spread %>
				</p>
			<% end %>
			<% if @plant.light_requirement? %>
				<p>
				  <strong>Light Requirement:</strong>
				  <%= @plant.light_requirement %>
				</p>
			<% end %>	
			<% if @plant.habit? %>
				<p>
				  <strong>Habit:</strong>
				  <%= @plant.habit %>
				</p>
			<% end %>						

			<% if user_signed_in? %>
  			<% if current_user.admin? %>
					<%= link_to 'Edit', edit_plant_path(@plant) %> | 
          <%= link_to 'Delete', @plant, method: :delete, data: { confirm: 'Are you sure? This will permanently delete the plant.' } %> 
        </p>
				<% end %>
			<% end %>
			<%= link_to 'Back', plants_path %>
		</div>
	</div>
</div>